{% extends 'blog/base.html' %}

{% block content %}
<main class="content">
  <div class="main-container">
    <div class="card-section">
      {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-5 text-dark text-decoration-none">{{ post.author }}</a> <br>
              <small class="text-muted conte">{{ post.date_posted }}</small>
            </div>
            <h2>
              <a class="article-title" >{{ post.title }}</a>
            </h2>
            <p class="article-content">{{ post.content|slice:":100" }}...</p>
          </div>
        </article>
      {% endfor %}
    </div>
  </div>
</main>

<footer>
  <ul class="nav justify-content-xl-center">
    <li class="nav-item"><a href="{% url 'blog-home' %}" class="nav-link navi px-2">Home</a></li>
    <li class="nav-item"><a href="admin/" class="nav-link navi px-2">Admin</a></li>
    <li class="nav-item"><a href="#" class="nav-link navi px-2">Privacy</a></li>
  </ul>
  <p>&copy; 2025 Blog. All rights reserved.</p>
</footer>
{% endblock content %}
